.wrapper {
  width: auto;
  position: relative;
  @apply flex;
  @apply mr-2;
  @apply flex-shrink-0;
}

.total {
  @apply ml-2 text-xs font-mono;
  @apply text-center flex items-center justify-center;
  @apply rounded-full;
}

.grab {
  @apply w-4 h-2 border-t border-b cursor-grab active:cursor-grabbing;
  display: block;
}

.button-group {
  @apply flex flex-row;
}

.poly-button-group {
  height: auto;
  @apply flex flex-col items-center justify-center;
  @apply mt-4;
  @apply justify-between flex-row;
  @apply translate-x-0;
  @apply space-y-0;
  @apply my-1;

  button {
    @apply w-1/2 h-4 flex items-center justify-center;
    @apply text-xxs;
    @apply mr-1;
    @apply cursor-pointer;
  }
}

.instrument-select {
  width: calc(100% - 4px);
  @apply select-none;
  @apply bg-transparent border;
  @apply text-xs;
}

.toggle {
  @apply bg-neutral-800;
  &:active {
    @apply bg-neutral-600;
  }
  &.muted {
    @apply bg-red-400;
    @apply border-transparent;
    @apply hover:bg-red-500 text-background;
  }
  &.pitch {
    @apply bg-neutral-300 text-background;
  }
}

.toggle-color {
  background: hsl(
    var(--color-track-h) var(--color-track-s) calc(var(--color-track-l))
  );
  &:hover {
    background: hsl(
      var(--color-track-h) calc(var(--color-track-s) - 40%)
        calc(var(--color-track-l) - 2%)
    ) !important;
  }
}

.length-panel {
  @apply flex flex-col;
  @apply w-12;
  button {
    @apply w-full h-1/2 relative flex items-center justify-center;
    @apply border space-y-0;
    @apply my-1;
    &:hover {
      @apply bg-foreground text-background;
      @apply opacity-90;
      &:active {
        @apply opacity-100;
      }
    }
  }
}
