.slice-outer {
  @apply block rounded-md;
  flex-shrink: 0;
  flex-grow: 0;
  touch-action: none;
  margin: 0.5rem;
  width: var(--slice-size);
  height: var(--slice-size);
  @apply mx-1 my-0;
}

/* default slice */
.slice {
  @apply w-full h-full;
  @apply select-none;
  @apply relative;
  @apply rounded-sm;
  background: hsl(
    var(--color-track-h) calc(var(--color-track-s) - 40%)
      calc(var(--color-track-l) - 40%)
  );
  opacity: 0.5;
  @apply overflow-hidden;
}

/* tick */
.slice.active {
  &::after {
    content: '';
    @apply block w-full h-full;
    /* @apply bg-gray-300; */
    background: hsl(
      var(--color-track-h) calc(var(--color-track-s) - 20%)
        calc(var(--color-track-l) - 40%)
    );
  }
}

/* pressed */
.slice.enabled {
  opacity: 0.75;
  background: hsl(
    calc(var(--color-track-h) + 10) calc(var(--color-track-s))
      calc(var(--color-track-l) - 10%)
  );
}

/* tick & pressed */
.slice.enabled.active {
  opacity: 1;
  &::after {
    background: hsl(
      var(--color-track-h) var(--color-track-s) calc(var(--color-track-l))
    );
  }
}

.toggle {
  @apply cursor-pointer;
  @apply w-full h-full;
}

.pitch {
  @apply w-full h-1/2 block bg-transparent;
  color: var(--color-bg);
  @apply absolute flex items-center justify-center;
  @apply bg-transparent z-30;
  &.top {
    @apply top-0;
  }
  &.bottom {
    @apply bottom-0;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    svg {
      @apply mix-blend-darken;
      @apply opacity-50;
    }
    &:active {
      background: rgba(255, 255, 255, 0.1);
      svg {
        @apply mix-blend-darken;
        @apply opacity-50;
      }
    }
  }

  > svg {
    @apply mix-blend-screen;
    @apply rounded-full;
    @apply w-4 h-4;
  }
}

.pitch-overlay {
  @apply opacity-80;
  @apply absolute w-full h-full;
  @apply bottom-0 left-0 right-0 top-0;
  @apply flex justify-center items-center;
  @apply text-sm;
  @apply font-sans;
  color: var(--color-bg);
  @apply pointer-events-none;
}
