.outer {
  @apply absolute bottom-0;
}

label.label {
  @apply text-xs;
}

input[type='range'].input {
  display: block;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: auto;
  height: 200px;
  background: gray;
  padding: 0 5px;
}

input[type='range'].input::-webkit-slider-runnable-track {
  background: var(--track-bg);
  @apply rounded;
  @apply w-12;
}
