.dialog {
  @apply z-50;
  @apply p-0;
  @apply w-auto h-auto;
  @apply bg-neutral-800;
  @apply rounded;
  @apply fixed;
  @apply max-w-sm max-h-96;
  @apply shadow shadow-neutral-300;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transform: scale3d(0, 0, 0);
  opacity: 0;

  &[open] {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.strip {
  @apply w-full h-8 relative flex items-center;
  .exit {
    @apply absolute right-2 text-neutral-200;
  }
}
.top {
  @apply flex w-full items-center justify-between;
}

.bottom {
  @apply absolute bottom-4 left-0 right-0;
}
.faders {
  @apply w-11/12 mx-auto;
  @apply flex items-center justify-between;
}
