@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: rgb(28, 28, 28);
  --color-text: rgb(200, 200, 200);
  --color-foreground: var(--color-text);
  --color-background: var(--color-bg);
  --color-alert: hsl(0, 50%, 50%);
  --border-width: 1px;
  --box-shadow-sm: 0 0 2px rgb(80, 80, 80);
  --box-shadow-lg: 0 0 5px rgb(190, 190, 190);

  --layout-nav-height: 48px;
  --scroll-x-height: 40px;

  --slice-size: 94px;
}

html {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  font-family: sans-serif;
}

body {
  width: 100%;
  min-width: 750px;
}

/* i don't remember why i have this in here */
#__next {
  overflow: hidden;
  overflow-x: auto;
}

button {
  @apply select-none;
}

.edit__area {
  @apply px-1;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  @apply p-4;
  @apply min-h-screen;
}
