.settings {
  @apply h-full flex-shrink-0;
  @apply w-6;
  @apply w-[200px];
  @apply z-50;
  @apply flex;
  transition: transform 0.2s ease;
  transform: translate3d(-180px, 0, 0);
}

.settings.open {
  transform: translate3d(-5px, 0, 0);

  .outer {
    @apply hidden;
  }
}

.exit {
  @apply absolute top-3 left-0 bottom-0;
  @apply flex items-start justify-center;
  @apply opacity-0;
}

.settings.open .exit {
  @apply opacity-100;
}

.outer {
  @apply w-6;
  @apply rounded;
  @apply flex items-center justify-center;
  .toggle {
    @apply w-full h-full;
    & > button {
      @apply h-full;
      @apply bg-black rounded;
      @apply hover:bg-neutral-800;
      @apply focus:outline;
    }
  }
}
.inner {
  @apply w-full bg-black border border-white mr-6 rounded-lg;
  @apply pl-7;
}
.group {
  @apply inline-block divide-x  p-2 border-white border;
}
