.settings {
  @apply h-full flex-shrink-0;
  @apply w-6;
  @apply w-[200px];
  @apply z-50;
  @apply flex;
  transition: transform 0.2s ease;
  transform: translate3d(-180px, 0, 0);
}

.settings.open {
  transform: translate3d(0, 0, 0);
}

.outer {
  @apply w-6;
  @apply rounded;
  @apply flex items-center justify-center;
  .toggle {
    @apply w-full h-full;
    & > button {
      @apply h-full;
      @apply bg-neutral-200 rounded;
      @apply hover:bg-white;
      @apply focus:outline;
    }
  }
}
.inner {
  @apply w-full bg-white mr-6 rounded-lg;
}
.group {
  @apply flex;
}
