.container {
  @apply block h-auto;
  touch-action: none;
  --knob-width: calc(var(--radius, 20px) * 2);
}

.label {
  @apply block relative;

  box-sizing: border-box;
  @apply mx-0.5;
}

.knob {
  @apply relative flex;
  width: var(--knob-width);
  height: var(--knob-width);
  @apply mx-1;
  --gradient: radial-gradient(circle at 10%, transparent 50%, #ddd 90%);
}

.outer {
  @apply rounded-full;
  width: var(--knob-width);
  height: var(--knob-width);
  @apply border-current border;
}

.inner {
  @apply cursor-pointer;
  transform: rotate(var(--degrees));
  width: var(--knob-width);
  height: var(--knob-width);
  @apply rounded;
}

.grip {
  @apply pointer-events-none;
  @apply absolute;
  @apply w-0.5;
  @apply h-1/2 bottom-0 left-1/2;
  transform: translateX(-50%);
  @apply bg-current;
  opacity: 50%;
}

input.input {
  @apply block;
  width: var(--knob-width);
  @apply text-center;
  @apply mx-auto -mt-0.5;
  @apply bg-transparent;
  font-size: 8px;
  transition: transform 0.3s ease;
  border: 1px solid transparent;
  &:focus {
    border: 1px solid white;
    user-select: none;
  }
  appearance: none;
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
