.nav {
  @apply px-1.5 fixed top-0 left-0 w-full;
  @apply mb-2;
  @apply flex items-center;
  background: var(--color-bg);
  z-index: 999;
  border-bottom: 1px solid;
}

.link {
  &:hover {
    @apply text-yellow-400;
    span {
      display: inline-block;
      @apply rotate-180;
    }
  }
}

.section {
  @apply my-2;
  @apply flex;
  @apply w-full;
  @apply items-center;
  @apply justify-between;
  @apply text-xs;
}

.tempo-button {
  @apply ml-4 block border border-current px-2 rounded-sm w-12 py-1;
  overscroll-behavior: none;
  touch-action: none;
}
