.label {
  @apply block -my-4;
  color: var(--color-text);
  @apply font-mono text-xxs;
}

.input {
  @apply block mt-1;
  @apply text-xs;
  color: var(--color-bg);
  @apply px-2 py-1 rounded;
  background: transparent;
  color: currentColor;
  border-radius: 0;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;
  border: 1px solid currentColor;
}
