.button {
  @apply flex items-center justify-center;
  @apply rounded-sm;
  @apply m-0.5 p-0;
  @apply disabled:opacity-20 transition-opacity duration-500;
  width: calc(var(--slice-size));
  height: calc(var(--slice-size));
  transition: transform 0.05s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  &.small {
    width: calc(var(--slice-size) / 2);
    height: calc(var(--slice-size) / 2);
  }
  &.useBorder {
    @apply border border-current;
  }

  &:not(:disabled) {
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
