.slice-outer {
  @apply block rounded-md;
  flex-shrink: 0;
  flex-grow: 0;
  touch-action: none;
  margin: 0.25rem;
  width: var(--slice-size);
  height: var(--slice-size);
}

button.slice {
  @apply w-full h-full;
  @apply select-none;
  @apply relative;
  border: 2px solid black;
  @apply rounded;
  background: var(--color-track);
  filter: grayscale(80%);
  opacity: 0.35;
  @apply overflow-hidden;
  &.is-dragging {
    background: transparent !important;
  }
}

/* tick */
button.slice.active {
  &::after {
    content: '';
    @apply block w-full h-full;
    @apply bg-gray-800;
    @apply opacity-80;
  }
}

/* pressed */
button.slice.enabled {
  filter: none;
  opacity: 1;
}

/* tick & pressed */
button.slice.enabled.active {
  opacity: 1;
  &::after {
    content: '';
    @apply block w-full h-full;
    @apply bg-current;
    @apply opacity-60;
  }
}

.pitch {
  @apply w-full h-1/2 block bg-transparent;
  color: var(--color-bg);
  @apply absolute flex items-center justify-center;
  @apply bg-transparent z-30;
  &.top {
    @apply top-0;
  }
  &.bottom {
    @apply bottom-0;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    svg {
      @apply mix-blend-darken;
      @apply opacity-50;
    }
    &:active {
      background: rgba(255, 255, 255, 0.1);
      svg {
        @apply mix-blend-darken;
        @apply opacity-50;
      }
    }
  }

  > svg {
    @apply mix-blend-screen;
    @apply rounded-full;
    @apply w-4 h-4;
  }
}

.pitch-overlay {
  @apply opacity-80;
  @apply absolute w-full h-full;
  @apply bottom-0 left-0 right-0 top-0;
  @apply flex justify-center items-center;
  @apply text-xs font-light text-center;
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  @apply pointer-events-none;
}
