.section {
  @apply relative;
  flex-shrink: 0;
  flex-grow: 0;
  --track-margin: 0.15rem;
  height: auto;
  min-height: calc(var(--slice-size) + 10px);
  width: auto;
  @apply pb-0;
  @apply border-b border-neutral-700;
  @apply pt-2;
  @apply bg-background;
}

.toggle {
  @apply w-full h-full absolute top-0;
}

.track-wrapper {
  @apply relative;
  width: var(--slice-size);
  transition: transform 0.2s ease;
  height: auto;
  width: unset;
  @apply flex items-start justify-start;
}

.edit-name-wrapper {
  @apply block;
  background: var(--color-bg);
}

.edit-name {
  @apply border-b;
  background: var(--color-bg);
  width: 90%;
  @apply text-current text-xxs;
  @apply rounded-sm px-2 py-2;
}

.delete-slice-button {
  @apply w-8 h-4 p-1 border rounded border-red-300;
  @apply text-red-300;
  @apply flex items-center justify-center;
  @apply opacity-30;
  &:hover,
  &:focus {
    @apply opacity-100 scale-110 bg-red-100 text-red-700;
  }
  &:active {
    @apply scale-90;
  }
}

.delete-button {
  @apply text-xs uppercase mx-auto w-12;
  @apply mx-auto block my-2 border border-current;
}

.edit-pitch-button {
  @apply text-xxs border p-1 rounded opacity-50 hover:opacity-100 transition-opacity;
  &.active {
    @apply bg-yellow-300 text-background border-background;
  }
}
