.section {
  @apply relative;
  @apply flex flex-shrink-0;
  @apply transition-all;
  @apply pb-48;
  width: calc(var(--slice-size) - 0.25rem);
  margin: 0.125rem;
  min-height: 50vh;
}

.toggle {
  @apply w-full h-full absolute top-0;
}

.slice-wrapper {
  width: var(--slice-size);
  transition: transform 0.2s ease;
  &.shift {
    transform: translate3d(0, 0, 0);
  }
}
