@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: rgb(128, 126, 120);
  --color-text: rgb(50, 50, 50);
  --border-width: 1px;
  --box-shadow-sm: 0 0 2px rgb(80, 80, 80);
  --box-shadow-lg: 0 0 5px rgb(190, 190, 190);

  --layout-nav-height: 48px;
  --scroll-x-height: 40px;
}

@media (orientation: portrait) {
  :root {
    --slice-size: 15vw;
  }
}

@media (orientation: landscape) {
  :root {
    --slice-size: 12vh;
  }
}

html {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  @apply w-full;
  @apply h-full;
  @apply min-h-screen;
}

button {
  @apply select-none;
}

.edit__area {
  @apply px-2;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: flex-start;
  padding: 0 2vw 0 1vw;
  @media (hover: hover) {
    overflow-y: auto;
  }
}
