@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: rgb(3, 3, 3);
  --color-text: rgb(100, 100, 100);
  --border-width: 1px;
  --box-shadow-sm: 0 0 10px rgb(80, 80, 80);
  --box-shadow-lg: 0 0 20px rgb(190, 190, 190);
  --slice-size: 4rem;
}

html {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  @apply font-mono;
  @apply w-full;
  @apply h-full;
}

main {
  @apply px-2;
  @apply w-full max-w-[100vw];
  @apply overflow-hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply uppercase;
}

.button {
  @apply rounded;
  @apply p-2;
  box-shadow: var(--box-shadow-sm);
  &.lg {
    @apply px-8 py-2;
  }
}

.button:hover {
  box-shadow: var(--box-shadow-lg);
  @apply bg-neutral-900;
}

.button:active {
  @apply bg-neutral-800;
}
