@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: rgb(28, 28, 28);
  --color-text: rgb(200, 200, 200);
  --border-width: 1px;
  --box-shadow-sm: 0 0 2px rgb(80, 80, 80);
  --box-shadow-lg: 0 0 5px rgb(190, 190, 190);

  --layout-nav-height: 48px;
  --scroll-x-height: 40px;
}

@media (orientation: portrait) {
  :root {
    --slice-size: 20vw;
  }
}

@media (orientation: landscape) {
  :root {
    --slice-size: 15vh;
  }
}

html {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: sans-serif;
}

button {
  @apply select-none;
}

.edit__area {
  @apply px-1;
  margin-top: 90px;
  display: flex;
  flex-direction: row;

  @media (orientation: landscape) {
    flex-direction: column;
  }
}
